*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #fff;
}

body {
  background-image: linear-gradient(
    to right,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
}

@media (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 35%;
  }
}
